<style>.sidebar-nav li a{
        background: green;
    }</style> <ion-view view-title="addContact"> <ion-content> <div class="container padding-left-right"> <div class="header_bg"> <div class="headericon-bg"> <ul> <li><a href="#" ui-sref="chat"><img class="img-responsive" src="images/sms.png" alt=""></a></li> <li><a href="#" ui-sref="createGroup"><img class="img-responsive" src="images/user.png" alt=""></a></li> <li><a href="#" ui-sref="createlinedrop"><img class="img-responsive" src="images/exam-paper.png" alt=""></a></li> <li><a href="#" ui-sref="addContact"><img class="img-responsive" src="images/user1.png" alt=""></a></li> </ul> </div> <div class="user-acc" ui-sref="accounts"> <img class="dotimg" src="{{linguaCtrl.userDetails.image||'images/profile-user.jpg'}}" alt=""> </div> <!--                <div id="menu12" class="nav sidebar">
                    <div class="list-group">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand"><span class="cross"><i class="fa fa-angle-right fa-2x"></i></span>
                                <label><a>{{linguaCtrl.user.name}}</a></label> </li>
                            <li><a ui-sref="accounts"><i class="fa fa-wrench"></i>Accounts</a> </li>
                            <li> <a ui-sref="group"><i class="fa fa-group"></i>Group</a> </li>
                            <li> <a ui-sref="contactList"><i class="fa fa-phone"></i>Contacts</a> </li>
                            <li> <a ui-sref="linedrop"><i class="fa fa-globe"></i>World</a> </li>
                            <li> <a ui-sref="chatList"><i class="fa fa-commenting-o"></i>Chat</a> </li>
                            <li> <a ng-click="linguaCtrl.logout()"><i class="fa fa-sign-out"></i>Log out</a> </li>
                        </ul>
                    </div>
                </div>--> </div> <div class="login-btn-wrapper" style="padding-left: 10px;padding-right: 10px"> <form class="register-form" name="phoneForm" novalidate ng-submit="linguaCtrl.addContact();"> <div class="form-group"> <input type="text" class="form-control" placeholder="Enter register user Name" name="contactName" ng-model="linguaCtrl.addContact.contactName"> </div> <button type="submit" class="button button-block button-balanced">Add Contact</button> </form> </div> <center><p class="click-user">Want to see contact list <a href="#" ui-sref="contactList" style="color: #30B4D6">click here</a></p></center> </div> </ion-content> </ion-view> <script type="text/javascript">jQuery(document).ready(function () {
        jQuery("#menu12").css("right", "-260px");
        jQuery('.user-acc .dotimg').click(function () {
            jQuery("#menu12").css("right", "0");
            jQuery("#menu12").addClass("visible");
        });
        jQuery('#menu12 .cross').click(function () {
            //	jQuery("#menu").css("right", "-245px");
            jQuery("#menu12").removeClass("visible");
        });
    });</script>